body {
    font-family: 'Inter', sans-serif;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
}

main {
    overflow-x: hidden;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-top: 3px;
    line-height: 2.25rem;
}

header#header .container-xl {
    max-width: 1024px;
}

header#header.fixed-top {
    position: relative;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0 11px 50px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #fff;
    padding: 9.5px 15px;
    margin-left: 30px;
    border-radius: .5rem;
    color: #8B5CF6;
    font-size: 18px;
    font-weight: 500;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #8B5CF6;
    background: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #4154f1;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #4154f1;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/********Hero section css**********/
#hero-bg {
    position: relative;
    height: 24rem;
}

#hero-section {
    background-image: url("../image/rectangle-desktop.png");
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-size: cover;
    top: -50px;
    left: -100px;
    right: -100px;
    height: calc(100% + 150px);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 110px;
    width: calc(100% + 200px);
    position: absolute;
    bottom: 0;
}

#hero-section h1 {
    max-width: 36rem;
    margin: 0 auto;
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    margin-top: 85px;
    line-height: 3rem;
}

#hero-section p {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#hero-section ul {
    list-style: none;
    padding-left: 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#hero-section ul li {
    display: inline-block;
    margin-left: 3px;
    background: #fff;
    height: 33px;
    width: 33px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
}

p.try {
    font-size: 16px !important;
    font-weight: 300;
}

p.try span {
    display: block;
}

section.formtextarea {
    position: relative;
    max-width: 36rem;
    margin: 10px auto 0;
}

section.formtextarea form .textarea-box textarea {
    width: 100%;
    border: none;
    padding: 20px 20px;
    border-radius: 0.5rem 0.5rem 0px 0px;
}

section.formtextarea form .textarea-box {
    background: #fff;
    border: 1px solid #9167cd;
    border-radius: 0.5rem;
}

.text-list ul {
    padding-left: 0;
    list-style: none;
}

.text-list ul li {
    padding-left: 20px;
    margin-bottom: .25rem;
}

.text-list ul li a {
    color: #000;
    font-size: 16px;
}

.test-btn {
    margin-top: 1rem;
}

.test-btn button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 14px 0;
    background: linear-gradient(49deg, rgba(139, 92, 246, 1) 12%, rgba(236, 72, 153, 1) 130%);
    color: #fff;
    border-radius: .5rem;
}

section.formtextarea form .textarea-box textarea:focus-visible {
    outline: none;
}

/******Footer css starts from here*********/
.footer-logo img {
    height: 2.5rem;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 2rem;
}

.footer-nav ul {
    padding-left: 0;
    margin-bottom: 0;
}


.footer-nav ul li a {
    color: #6B7280;
    font-size: 16px;
}

.footer-copyright p {
    text-align: center;
    color: #9CA3AF;
    font-size: 16px;
}

.footer-copyright {
    border-top: 1px solid #dfdfdf;
    padding-top: 2rem;
    margin-top: 3rem;
}

footer .container {
    max-width: 64rem;
}

footer {
    padding: 4rem 0;
}
